
.ahdh-room-title {
    text-align: center;
    margin-bottom: 20px;
}

.video-container {
    display: flex;
    justify-content: space-between;

    gap: 50px;
    padding: 20px;
}


.carpet-clean {
    margin-right: 0;
}


@media (max-width: 768px) {
    .video-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }


    video {
        width: 100% !important;
        max-width: 100%;
        height: auto;
    }
}

.content-area {
    text-align: center;
}

@media (max-width: 768px) {
    .video-container {
        flex-direction: column;
    }

    .middle-text {
        max-width: 100%;
        padding: 10px;
    }
}
.middle-text {
    color: white;
    text-align: center;
    max-width: 300px;
    font-family: sans-serif;
}

.middle-text h2 {
    margin-top: 0;
    color: #ff00ff;
}